*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: sans-serif;
    font-size: 100%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 101vh;
    background: #211;
    color: #fff;
}

button {
    font: inherit;
}

.game {
    padding: 15px 20px;
    border: 1.5px solid #fff;
    background: #211;
    border-radius: 11px;
    width: 92%;
    max-width: 500px;

    .h11 {
        text-align: center;
        margin: 12px auto;
        color: blueviolet;
        font-size: 2.5rem;
        text-shadow: 4px 2px red;
    }

    .sup-heading {
        text-align: center;
        margin: 16px auto;
        font-size: 2.5rem;
    }

    .game-btns {
        display: flex;
        background: #211;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow: hidden;

        button {
            background: transparent;
            border-radius: 50px;
            border: none;
            overflow: hidden;
            cursor: pointer;
            img {
                overflow: hidden;
                width: 100px;
                transition: .200s ease-in;
            }
        }
        button:hover img {
            transform: scale(1.155);
        }
    }

    #score-output {
        text-align: center;
        margin: 15px auto;
        font-size: 2rem;
    }

    .move {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        margin: 20px auto;
        flex-wrap: wrap;

        h3 {
            font-size: 1.7rem;
            color: orangered;
        }

        img {
            width: 80px;
            margin: auto 5px;
        }
    }

    .rates {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 22px auto;

        .wins {
            color: rgb(10, 207, 10);
        }
        .loses {
            color: rgb(240, 10, 10);
        }
        .ties {
            color: blue;
        } 
    }

    .reset {
        text-align: center;
        margin: 15px auto;
        #reset-game {
            text-align: center;
            padding: 10px 20px;
            background: blueviolet;
            border: none;
            color: #fff;
            border-radius: 10px;
            transition: .100s ease-in-out;
            cursor: pointer;
        }
    
        #reset-game:hover {
            background: blue;
        }
    
    }
}